body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol, li {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	font-family:'Noto Sans KR', sans-serif;
	background-color: #eaeaea;
	transition: background-color 0.8s ease-in-out;
}
#dim {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 9999;
}
#dim.dt {
	display: block;
}

/* #191970 */
body.white {
	background-color: #333;
}
body.fixed {
	overflow-y: hidden;
	overflow-x: hidden;
}

#main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#main .main_inner{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

#main header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	padding-top: 50px;
	overflow: hidden;
}
#main header .header_inner{
	position: relative;
	height: 100px;
}
.skils{
	position: absolute;
	left: 50%;
	top: 50px;
	width: 900px;
	color: #333;
	overflow: hidden;
	transform: translateX(-50%);
	text-align: left;
}
.skils .skils_inner{
	display: flex;
    justify-content: center;
	align-items: center;
	gap: 8vw;
}
.skils .skils_inner ul{
	position: relative;
}
.skils .skils_inner ul::after{
	content: "";
    position: absolute;
    right: -40px;
    top: 40px;
    width: 0.5px;
    height: 25px;
    background-color: #ccc;
}
.skils .skils_inner ul:last-child:after{
	display: none;
}


.skils .skils_inner ul li:first-child{
	margin-bottom: 10px;
	font-size: 0.875em;
	/* color: #fff; */
	color: #333;
	font-weight: 400;
}
.skils .skils_inner ul li{
	margin-bottom: 5px;
}
.skils .skils_inner ul li:nth-child(2){
	font-size: 1em;
	font-family: "Oswald", sans-serif;
}
.skils .skils_inner ul li:last-child{
	font-size: 0.875em;
	/* color: #ededed; */
	color: #333;
	font-weight: 300;
}

@media only screen and (max-width: 1000px){
	.skils{
		display: none;
	}
	
}

#main header .header_inner .namelogo{
	position: absolute;
	left: 0;
	width: 100px;
	margin-left: 2em;
	text-align: left;
}
#main header .header_inner .namelogo.none{
	display: none;
}

#main header .header_inner .namelogo span{
	font-size: 1em;
	font-weight: 600;
	color: #333;
}

body.white #main header .header_inner .namelogo span{
	color: #fff;
}

#tab{
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 35px;
	margin-right: 2em;
	z-index: 100000;
}
#tab.pause{
	background: url(../image/tab.png) no-repeat center center;
}

body.white #tab.pause{
	background: url(../image/tab1.png) no-repeat center center;
}
#tab.exit{
	background: url(../image/white_btn-close-32.png) no-repeat center right 25px;
	z-index: 1100;	
}

/*  */
#sitemap{
	position: fixed;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 500;					
	height: 100vh;
	background-color: #333;
	transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transform: translateX(0%) translateY(-100%);
}

#sitemap.on{
	transform: translateX(0%) translateY(0%);
}
/* #sitemap.on #main header .header_inner .namelogo{
	color: #fff;
} */
#sitemap .sitemap_inner{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
}
#sitemap .sitemap_inner ul li a span{
	font-family: "Barlow Condensed", sans-serif;
    font-size: 5em;
    font-weight: 600;
    color: #fff;
    line-height: 120px;
}

/*  */



.title .title_inner{
	padding-top: 50px;
	gap: 50px;
}
#title_box{
	padding-top: 5vh;
	font-family: "Roboto", sans-serif;
	line-height: 0.8;
	font-size: 11vw;
	display: inline-block;
	font-weight: 100;
	color: #777;
	text-shadow: 5px 0 8px rgba(0,0,0,.3);
	/* transition: 0.4s; */
}
#title_box.complete {
	/* text-shadow: 5px 5px 8px rgba(0,0,0,.3); */
	/* transition: 0.4s; */
}

.title p span{
	display: inline-block;
	font-size: 8vw;
	font-weight: 400;
	color: #444;
	font-weight: 700;
	/* text-shadow: 2px 2px gray; */
	
}

#pt{
	/* display: inline-block; */
	padding: 5px 0;
	font-size: 1em;
	font-weight: 500;
	/* color: #ededed; */
	margin-top: 40px;
	/* letter-spacing: 1px; */
	opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;
	transition-delay: 1s;
	padding-left: 15px;

	/* background-color: #333; */
	color: #333;
}

#pt.sc{
	opacity: 1;
    transform: translateY(0);
}
#pt br{
	display: none;
}
@media only screen and (max-width: 1400px){
	#title_box{
		font-size: 10em;
	}
	.title p span{
		font-size: 7.5rem;
	}
}
@media only screen and (max-width: 900px){
	#title_box{
		/* font-size: 8em; */
	}
	.title p span{
		/* font-size: 6rem; */
	}
}
@media only screen and (max-width: 700px){
	#title_box{
		font-size: 7em;
	}
	.title p span{
		font-size: 5.2rem;
	}
	#pt{
		margin-top: 30px;
		line-height: 1.8;
		font-size: 1.5em;
		font-weight: 300;
	}
	#pt br{
		display: inline;
	}
}
@media only screen and (max-width: 500px){
	#title_box{
		font-size: 5em;
	}
	.title p span{
		font-size: 3.8rem;
	}
	#pt{
		margin-top: 20px;
		font-size: 1em;
	}
}
@media only screen and (max-width: 460px){
	#title_box{
		font-size: 3.8em;
	}
	.title p span{
		font-size: 2.8rem;
	}
}


section strong{
	font-size: 6.5em;
	font-family: "Oswald", sans-serif;
	color: #fff;
}
@media only screen and (max-width: 500px){
	section strong{
		font-size: 4em;
	}
}

#pageinfo{
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	/*  */
	opacity: 0;
    transition: 1s;
	transition-delay: 2s;
	padding-left: 15px;
}
#pageinfo.pade{
	opacity: 1;
}
.pageinfo_inner{
	position: relative;
	height: 100px;
}

#pagenumber{
	position: absolute;
	left: 0;
	/* color: #ededed; */
	color: #333;
	padding-left: 3vw;
}
body.white #pagenumber{
	color: #ededed;
}

#pagescroll{
	position: absolute;
	right: 0;
	color: #ededed;
	padding-right: 0.5vw;
}

#pagescroll ul{
	display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    gap: 15px;
	color: #fff;
}

#pagescroll > ul > li{
	transform: rotate(90deg);
	padding: 20px 50px 20px 20px;
	background: url(../image/b_arrow.png) no-repeat top 13.5px right;
	background-size: 40px;
}
#pagescroll > ul > li.tobottom1{
	transform: rotate(270deg);
	padding: 20px 50px 20px 20px;
	background: url(../image/arrow.png) no-repeat top 13.5px right;
	background-size: 40px;
}
#pagescroll > ul > li.tobottom2{
	transform: rotate(270deg);
	padding: 20px 50px 20px 20px;
	background: url(../image/b_arrow.png) no-repeat top 13.5px right;
	background-size: 40px;
}


#pagescroll > ul > li a span{
	font-size: 0.875em;
	font-weight: 400;
	/* color: #ededed; */
	color: #333;
}
body.white #pagescroll > ul > li a span{
	color: #ededed;
}
#page1 .page1_inner{
	max-width: 1200px;
	margin: 500px auto 0;
	padding: 100px 0 0px;
}

#page1 .page1_inner .about_box{
	width: 100%;
}

/* #page1 .page1_inner p{
	font-size: 1em;
	color: #ededed;
} */
#page1 .page1_inner .about_box .aleft{
	width: 450px;
    height: 300px;
	background-color: rgba(0,0,0,.2);
	margin-top: 30px;
}
#Aimg{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: none;
	opacity: 0.4; 
}
#Aimg.no{
	display: block;
}
.about_box{
	display: flex;
    justify-content: flex-start;
	color: #fff;
	gap: 180px;
}

.about_box strong{
	color: #333;
	transition: color 0.3s;
}

.white .about_box strong{
	color: #fff;
}


#page1 .right > p{
	font-size: 1.2em;
	font-weight: 300;
	color: #777;
	padding-top: 20px;
	transition: color 0.3s;
}

.white #page1 .right > p{
	color: #ededed;
}

#page1 .right > p br.op{
	display: none;
}
#page1 .right > p > a{
	border-bottom: 1px solid #333;
	color: #333;
}

body.white #page1 .right > p > a{
	border-bottom: 1px solid #fff;
	color: #fff;
}


#page1 .right ul{
	margin-top: 90px;
}

#page1 .right span{
	font-size: 1.5em;
	display: inline-block;
    width: 150px;
	font-weight: 400;
	color: #777;
	transition: color 0.3s;
}
.white #page1 .right span{
	color: #fff;
}
#page1 .right ul li{
	padding-bottom: 10px;
	font-size: 0.875em;
	font-weight: 300;
	color: #777;
	transition: color 0.3s;
}
.white #page1 .right ul li{
	-webkit-text-fill-color: #fff;
	-moz-color: #fff;
	-ms-color: #fff;
	-o-color: #fff;
	color: #fff;
}
@media only screen and (max-width: 1300px){
	.about_box {
		display: flex;
		justify-content: center;
		color: #fff;
		gap: 100px;
		flex-direction: column;
		align-items: center;
	}
}
@media only screen and (max-width: 650px){
	#page1 .page1_inner .about_box .right{
		padding: 0 2em;
	}
	#page1 .right > p br.op{
		display: inline;
	}
	#page1 .right > p br{
		display: none;
	}
}
@media only screen and (max-width: 500px){
	#page1 .page1_inner .about_box .aleft{
		display: none;
	}
}

@media only screen and (max-width: 450px){
	#page1 .right > p {
		font-size: 0.875em;
	}
	#page1 .right span {
		width: none;
		display: block;
	}

	#page1 .page1_inner .about_box .aleft p{
		display: none;
	}
}

/* #pagenumber2{
	color: #ededed;
	padding-top: 200px;
} */


#page2 .page2_inner{
	max-width: 1200px;
	margin: 500px auto 0;
	/* padding: 500px 0 0px; */
}
#page2 .page2_inner .page2_title{
	margin-bottom: 50px;
}

#page2 .page2_inner .sklis_list_inner{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	border-bottom: 0.5px solid rgba(255,255,255,.4);
	color: #fff;
	padding: 100px 0 30px 0;
	gap: 20px;
}

#page2 .page2_inner .sklis_list_inner > ul{
	display: flex;
}
#page2 .page2_inner .sklis_list_inner ul:last-child{
	align-items: flex-end;
}

#page2 .page2_inner .sklis_list_inner ul:last-child li p{
	margin-top: 10px;
	color: #ededed;
	font-size: 0.875em;
	font-weight: 200;
}

#page2 .page2_inner .sklis_list_inner:first-child ul > li{
	width: 80px;
}


#page2 .page2_inner .sklis_list_inner > ul > ul{
	width: 300px;
}


#page2 .page2_inner .sklis_list_inner > ul span{
	font-size: 4em;
}
#page2 .page2_inner .sklis_list_inner > ul > ul > li:first-child{
	font-size: 3.5em;
	font-weight: 600;
	width: 300px;
	font-family: "Oswald", sans-serif;
}
#page2 .page2_inner .sklis_list_inner > ul > ul > li:last-child{
	font-size: 1.2em;
	width: 300px;
	font-weight: 200;
	color: #ededed;
}
#page2 .page2_inner .sklis_list_inner > ul:last-child li{
	font-size: 1.1em;
	text-align: center;
	width: 120px;
}
@media only screen and (max-width: 1300px){
	#page2 .page2_inner{
	    padding: 0 2em;
	}
	#page2 .page2_inner .sklis_list_inner{
		gap: 0;
	}
}
@media only screen and (max-width: 1200px){
	#page2 .page2_inner .sklis_list_inner{
		align-items: flex-start;
		flex-direction: column;
		gap: 50px;
	}
	#page2 .page2_inner .sklis_list_inner > ul:last-child{
		gap: 30px;
		padding-left: 50px;
	}
	#page2 .page2_inner .sklis_list_inner > ul{
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 700px){
	/* #page2 .page2_inner .sklis_list_inner > ul{
		flex-wrap: wrap;
	} */
	/* #page2 .page2_inner .sklis_list_inner > ul:last-child{
		gap: 30px;
		padding-left: 50px;
	} */

	#page2{
		overflow: hidden;
	}
}

@media only screen and (max-width: 460px){
#page2 .page2_inner .sklis_list_inner ul:last-child img{
	display: none;
}
#page2 .page2_inner .sklis_list_inner ul:last-child{
	flex-direction: column;
}
/* #page2 .page2_inner .sklis_list_inner > ul span {
	display: none;
} */
#page2 .page2_inner .sklis_list_inner > ul {
	flex-wrap: nowrap;
}
#page2 .page2_inner .sklis_list_inner > ul:last-child{
	padding-left: 100px;
}

}



#page3{
	padding-top: 100px;
	height: 90vh;
}

#page3 .page3_inner{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}
#page3 .page3_inner .m_text ul{
	display: flex;
	align-items: center;
	gap: 20px;
}

#page3 .page3_inner .m_text ul li strong{
	font-size: 10em;
	color: #333;
}
/*  */
#page3 .page3_inner .m_text ul li strong{
	font-size: 10em;
    font-weight: bold;
    color: #333;
    transition: text-shadow 0.3s ease;
}
#page3 .page3_inner .m_text ul li strong:hover {
    text-shadow: 7px 7px 15px rgba(0,0,0,0.2);
}


/*  */

/*  */

#rel{
	position: relative;
}
#button {
	display: block; /* 요소를 항상 보이게 하되, 시작할 때는 왼쪽으로 숨겨둠 */
    opacity: 0; /* 시작할 때는 투명하게 */
    position: absolute;
    left: 0; /* 왼쪽에서 시작 */
    color: #333;
    padding: 10px 80px 10px 30px;
    overflow: hidden;
    /* transform을 사용해 X축으로 -100%만큼 이동시켜 왼쪽으로 숨김 */
    transform: translateX(-100%);
    /* opacity와 transform에 대한 전환 효과 추가 */
    transition: opacity 0.4s ease, transform 0.4s ease;
}
#button.up{
	opacity: 1; /* .up 클래스가 추가되면 불투명하게 만들어 화면에 표시 */
    /* translateX를 0%로 설정해 원래 위치로 이동 */
    transform: translateX(0%);
}

/* #button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color:  #ccc; 
    transition: height 0.4s ease;
    z-index: -1;
  }

  #button:hover {
	color: #333;
	font-weight: 900;
  }
  #button:hover::before {
    height: 100%;
  } */


  #button::after{
    content: "";
    position: absolute;
    right: 10px;
    background: url(../image/right.png) no-repeat top -10px right;
    background-size: 50px;
    width: 50px;
    height: 50px;
} 



#page3 .page3_inner .m_text ul li a{
	color: #333;
}

 /* #page3 .page3_inner .m_text ul li.button{
	border: 1px solid #333;
	border-radius: 10px;
}  */

@media only screen and (max-width: 900px){
	#page3 .page3_inner .m_text ul{
		flex-direction: column;
	}
}
@media only screen and (max-width: 700px){
	#page3 .page3_inner .m_text ul li strong{
		font-size: 8em;
	}
}
@media only screen and (max-width: 500px){
	#page3 .page3_inner .m_text ul li strong{
		font-size: 6em;
	}
}
@media only screen and (max-width: 400px){
	#page3 .page3_inner .m_text ul li strong{
		font-size: 4em;
	}
	#page3 .page3_inner .m_text ul{
		gap: 0;
	}
}