body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol, li {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	font-family:'Noto Sans KR', sans-serif;
	background-color: #333;
	transition: background-color 0.8s ease-in-out;
}
.page strong{
	font-size: 6.5em;
	font-family: "Oswald", sans-serif;
	color: #fff;
}
@media only screen and (max-width: 480px) {
	.page strong{
		font-size: 3.5em;
	}
}
header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	padding-top: 50px;
	overflow: hidden;
}
header .header_inner{
	position: relative;
	height: 100px;
	padding: 0 2em;
}
header .header_inner .backPage a{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: url(../image/arrowA.png) no-repeat center center;
	background-size: 40px;
	text-indent: -9999px;
	padding: 50px 50px 50px 0;
	margin-left: 2em;
}

#page2 {
	margin-bottom: 150px;
}

#page2 .page2_inner{
	max-width: 1200px;
	margin: 500px auto 0;
	padding: 0 2em;
}
#page2 .page2_inner .sub_title{
	font-size: 1.5em;
	font-weight: 600;
	font-family:'Noto Sans KR', sans-serif;
	color: #ededed;
}
#page2 .page2_inner .page2_title{
	margin-bottom: 150px;
}

#page2 .page2_inner .sklis_list_inner{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	border-bottom: 0.5px solid rgba(255,255,255,.4);
	color: #fff;
	padding: 100px 0 30px 0;
	max-width: 1200px;
	/* flex-wrap: wrap; */
}
/*  */
#page2 .page2_inner .sklis_list_inner ul.right ul li:first-child{
	font-size: 1.2em;
    font-weight: 400;
    color: #ccc;
	width: 70%;
}
#page2 .page2_inner .sklis_list_inner ul.right ul li > a{
	position: relative;
	display: block;
    font-size: 1em;
    font-weight: 300;
    color: #ededed;
	padding: 15px 10px 15px 20px;
	/* background: url(../image/arrow.png) no-repeat center right;
	background-size: 30px; */
	border: 1px solid rgba(255,255,255,.4);
	border-radius: 10px;
	width: 100px;

	overflow: hidden;
	transition: color 0.4s ease;
}
/*  */
#page2 .page2_inner .sklis_list_inner ul.right ul li > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color:  rgba(255,255,255,.4); /* 배경 색상 */
    transition: height 0.4s ease;
    z-index: -1;
  }
  /*  */

  #page2 .page2_inner .sklis_list_inner ul.right ul li > a:hover::before {
    height: 100%;
  }
  #page2 .page2_inner .sklis_list_inner ul.right ul li > a:hover {
	color: #ececec;
	font-weight: 900;
  }


#page2 .page2_inner .sklis_list_inner ul.right ul li > a::after{
	content: "";
	position: absolute;
	right: 10px;
	background: url(../image/arrow.png) no-repeat bottom 12px right;
	background-size: 30px;
	width: 40px;
	height: 40px;

}
/*  */
@media only screen and (max-width: 1140px) {
	#page2 .page2_inner .sklis_list_inner{
		flex-wrap: wrap;
	}
	#page2 .page2_inner .sklis_list_inner ul.right ul li:first-child{
		padding-top: 5px;
	}
}


#page2 .page2_inner .sklis_list_inner > ul.left{
	display: flex;
}

#page2 .page2_inner .sklis_list_inner > ul.left > li{
	width: 80px;
	font-size: 4em;
	font-family: "Oswald", sans-serif;
}
#page2 .page2_inner .sklis_list_inner > ul.left > ul li:first-child{
	font-size: 3.5em;
    font-weight: 600;
	width: 400px;
	color: #ededed;
	font-family: "Oswald", sans-serif;
}

/*  */
@media only screen and (max-width: 1140px) {
	#page2 .page2_inner .sklis_list_inner > ul.left > ul li:first-child {
		font-size: 2.5em;
		width: 250px;
	}

}
@media only screen and (max-width: 390px) {
	#page2 .page2_inner .sklis_list_inner > ul.left > ul li:first-child {
		/* font-size: 1.5em; */
		width: 140px
	}
	.study_list .study_list_inner{
		gap: 30px;
	}

}
/*  */

#page2 .page2_inner .sklis_list_inner > ul.left > ul li:last-child{
	font-size: 1em;
	color: #ededed;
}
#page2 .page2_inner .sklis_list_inner ul.right{
	width: 700px;
	padding-left: 80px;
}
@media only screen and (max-width: 560px) {
	#page2 .page2_inner .sklis_list_inner > ul.left > li{
		display: none;
	}
	#page2 .page2_inner .sklis_list_inner ul.right {
		width: 250px;
	}
	#page2 .page2_inner .sklis_list_inner ul.right ul li:first-child{
		font-size: 0.875em;
	}
	#page2 .page2_inner .sklis_list_inner ul.right{
		padding-left: 0;
	}
}
@media only screen and (max-width: 390px) {
	#page2 .page2_inner .sklis_list_inner ul.right ul li:first-child{
		display: none;
	}
	#page2 .page2_inner .sklis_list_inner ul.right > li{
		display: none;
	}
}

#page2 .page2_inner .sklis_list_inner ul.right > li{
	font-size: 2em;
    font-weight: 600;
    color: #cccccc;
	width: 100%;
	padding-top: 20px;
}
@media only screen and (max-width: 1140px) {
	#page2 .page2_inner .sklis_list_inner ul.right > li{
		font-size: 1.5em;
		padding-top: 50px;
	}
}

@media only screen and (max-width: 560px) {
	#page2 .page2_inner .sklis_list_inner ul.right > li{
		font-size: 1em;
	}
	
}

#page2 .page2_inner .sklis_list_inner ul.right ul{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	/* align-items: center; */
}

/*  */
@media only screen and (max-width: 1350px) {
	#page2 .page2_inner .sklis_list_inner ul.right ul{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
	}

	#page2 .page2_inner .sklis_list_inner ul.right ul li > a{
		margin-top: 20px;
	}
}
/*  */


#page4 .page4_inner{
	margin: 0 auto;
    max-width: 1200px;
    padding: 150px 0em;
}
/* @media only screen and (max-width: 700px) {
	#page4 .page4_inner{
		padding: 150px 4em;
	}
} */
#page4 .page4_inner .sub_title{
	font-size: 1.5em;
	font-weight: 600;
	font-family:'Noto Sans KR', sans-serif;
	color: #ededed;
}
.design_title{
	font-size: 1.5em;
	font-weight: 600;
	font-family:'Noto Sans KR', sans-serif;
	color: #ededed;
	margin-top: 100px;
}
#page4 .page4_inner .sub_title{
	margin-bottom: 70px;
}

.container {
	margin-top: 20px;
}

#sub_slider .swiper-wrapper{
	display: flex;
}

#sub_slider {
	position: relative;
	padding-bottom: 50px;
	overflow-x: hidden;
	text-align: left;
}
#sub_slider .swiper .swiper-slide{
	width: 300px;
	user-select: none;
}

#sub_slider .swiper .swiper-slide span{
	font-size: 1em;
	font-weight: 400;
	line-height: 10px;
	color: #ededed;
}

#sub_slider .swiper .swiper-slide p{
    font-size: 1.4em;
    font-weight: 400;
	margin: 20px 0 10px 0;
    color: #ededed;
} 
#sub_slider .swiper .swiper-slide span.ss{
	font-size: 1em;
	color: #ededed;
	display: block;
	line-height: 25px;
	margin-bottom: 30px;
}
#sub_slider .swiper .swiper-slide a{
	position: relative;
	display: block;
	font-size: 0.875em;
	color: #ededed;
	width: fit-content;

	padding: 10px 30px 10px 20px;
	margin-right: 30px;
	border: 1px solid rgba(255,255,255,.4);
	border-radius: 10px;

	overflow: hidden;
	transition: color 0.4s ease;
}

#sub_slider .swiper .swiper-slide a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color:  rgba(255,255,255,.4); /* 배경 색상 */
    transition: height 0.4s ease;
    z-index: -1;
  }

  #sub_slider .swiper .swiper-slide a:hover::before {
    height: 100%;
  }
  #sub_slider .swiper .swiper-slide a:hover {
	color: #ececec;
	font-weight: 900;
  }


#sub_slider .swiper .swiper-slide a::after{
	content: "";
	position: absolute;
	right: 10px;
	background: url(../image/btn_arrow_right.png) no-repeat bottom -1px right;
	background-size: 20px;
	width: 20px;
	height: 20px;
}



#sub_slider .swiper .swiper-slide a.web{
	display: inline-block;
	padding: 10px 30px 10px 20px;
	margin-right: 30px;
	border: 1px solid rgba(255,255,255,.4);
} 

#sub_slider .swiper .swiper-slide a.Source{
	display: inline-block;
	padding: 10px 30px 10px 20px;
	border: 1px solid  rgba(255,255,255,.4);
} 
#sub_slider .swiper {
	width: 100%;
	height: 100%;
	overflow: visible;
}
#sub_slider .swiper .swiper-slide {
	width: 100%;
}
#sub_slider .swiper .swiper-slide .view{
	width: 320px;
}
#sub_slider .swiper .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	margin-bottom: 10px;
}

#sub_slider .swiper .swiper-scrollbar{
	width: 100%;
    bottom: -50px;
}

#sub_slider .swiper .swiper-scrollbar-drag {
	background-color: #fff;
}

/*  */


#page2 .page2_inner .sub_title{
	font-size: 1.5em;
	font-weight: 600;
	font-family:'Noto Sans KR', sans-serif;
	color: #ededed;
}

.study_list .study_list_inner{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 0.5px solid rgba(255,255,255,.4);
	color: #fff;
	padding: 50px 0 20px 0;
	max-width: 1200px;
	/* gap: 150px; */
	flex-wrap: wrap;
}


.study_list .study_list_inner > ul.left{
	display: flex;
	align-items: center;
}

.study_list .study_list_inner > ul.left > li{
	width: 50px;
	font-size: 1.5em;
	font-family: "Oswald", sans-serif;
}
.study_list .study_list_inner > ul.left > ul{
	display: flex;
	align-items: center;
}
.study_list .study_list_inner > ul.left > ul li:first-child{
	font-size: 2.3em;
    font-weight: 400;
	width: 300px;
	color: #ededed;
	font-family: "Oswald", sans-serif;
}
.study_list .study_list_inner > ul.left > ul li:last-child{
	width: 300px;
}

.study_list .study_list_inner ul.right ul{
	display: flex;
	align-items: center;
	gap: 100px;
}


@media only screen and (max-width: 1300px) {
	.study_list .study_list_inner ul.right ul{
		padding-left: 50px;
	}
	.study_list .study_list_inner > ul.left > ul {
		flex-direction: column;
	}
	.study_list .study_list_inner ul.right ul li:first-child{
		padding-top: 10px;
	}
}
@media only screen and (max-width: 700px) {
	.study_list .study_list_inner ul.right ul{
		flex-direction: column;
	}
	.study_list .study_list_inner ul.right ul{
		align-items: flex-start;
	}
	.study_list .study_list_inner ul.right ul{
		gap: 20px;
	}
}

.study_list .study_list_inner ul.right ul li:first-child{
	font-size: 1.2em;
    font-weight: 400;
    color: #ccc;
	width: 300px;
}

.study_list .study_list_inner ul.right ul li > a{
	position: relative;
    display: block;
    font-size: 1em;
    font-weight: 300;
    color: #ededed;
    padding: 15px 10px 15px 20px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 10px;
    width: 100px;

	overflow: hidden;
	transition: color 0.4s ease;
}

.study_list .study_list_inner ul.right ul li > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color:  rgba(255,255,255,.4); /* 배경 색상 */
    transition: height 0.4s ease;
    z-index: -1;
}

.study_list .study_list_inner ul.right ul li > a:hover {
	color: #ececec;
	font-weight: 900;
}

.study_list .study_list_inner ul.right ul li > a:hover::before {
    height: 100%;
}



.study_list .study_list_inner ul.right ul li > a::after{
	content: "";
    position: absolute;
    right: 10px;
    background: url(../image/arrow.png) no-repeat bottom 12px right;
    background-size: 30px;
    width: 40px;
    height: 40px;
}


@media only screen and (max-width: 560px) {
	
	.study_list .study_list_inner ul.right ul li:first-child{
		width: 300px;
		font-size: 1em;
	}
	.study_list .study_list_inner > ul.left > ul{
		align-items: flex-start;
	}
	

}

@media only screen and (max-width: 530px) {
	.study_list .study_list_inner > ul.left > li{
		display: none;
	}
	.study_list .study_list_inner ul.right ul{
		padding-left: 0;
	}
	
}

@media only screen and (max-width: 390px) {
	.study_list .study_list_inner > ul.left > ul li:last-child{
		display: none;
	}
	.study_list .study_list_inner ul.right ul li:first-child{
		display: none;
	}
	.study_list .study_list_inner{
		flex-direction: column;
		align-items: flex-start;
	}
	#page2 .page2_inner .sklis_list_inner > ul.left > ul li:last-child{
		display: none
	}
	.study_list .study_list_inner > ul.left > ul li:first-child{
		width: 200px;
	}
}


